<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div><a href="" class="navbar-brand">Mackey Local</a></div>

            <ul class="navbar-nav">
                <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/mackeylocal" class="nav-link">Home</a></li>
                <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
                <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/cruises" class="nav-link">Cruises</a></li>
            </ul>
        
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
                <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
